{layout ../@layout.latte}
{*{layout none}*}
{type App\Model\Post[] $posts}


Ahoj před<br>

{define #content}
	{type App\Model\Post3[] $posts}
	<h1>block content</h1>
	{foreach $posts as $post}
		<h1>{$post->getTitle()}</h1>
		{include #ahoj test=>$post->getTitle()}
	{/foreach}

	{include #ahoj, test=>5}
{/define}

{define #ahoj}
	{type int $test}
	<b>{$test}</b>
	ahoj z bloku ahoj! <br>
{/define}

{*{include #ahoj, test=>['test']}*}

Ahoj po
