{layout ../@layout.latte}

{type $posts Posts[]}

{block content}
	{type $posts Posts[]}
	{foreach $posts as $post}
		<h1>{$post->getTitle()}</h1>
		{include #ahoj test=>$post->getTitle()}
	{/foreach}
{/block}

{block ahoj}
	{type $test string}
	{$test}
{/block}
